{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Firebase project</h1>
<div class="row">
    <div class="col-md-8">
        <!-- <img src="{% static project.image %}" alt="test_image" width="100%"> -->
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <!-- <p>{{ project.description }}</p> -->
        <p>This page will display all the firebase project</p>
        <br>
        <h5>Technology used:</h5>
        <p>Firebase - Google Cloud Platform</p>
    </div>
</div>
{% endblock %}